MAILTO=vtad-pipelines@jpl.nasa.gov

# exo database pipeline
0 */6 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/update_exo.sh
# spice, animdata, and dynamo pipeline
0 1,13 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/update_spice.sh
# tle pipeline
15 0 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/update_local_tles.sh
30 */6 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/update_tles.sh
# dsn now map generator
*/5 * * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/dsn_now_map_gen.sh
# DSN XML Pipeline
# 0 6 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/dsn_xml_pipeline.sh bg
# EotSS Kiosk MSL Highlight
42 0 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/msl_map.sh
43 0 * * * ~/pipelines/scripts/cron_run.sh ~/pipelines/scripts/msl_photo.sh
