@reboot cd $HOME/code/https-server && ./run.sh
@reboot ~/code/scripts/cron_run.sh ~/code/scripts/dsn_data_pipeline.sh

# position pipeline
# */5 * * * * ~/code/scripts/cron_run.sh ~/code/scripts/position_pipeline.sh
# earth MB data pipeline
# */30 * * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_earth.sh
# */30 * * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_earth.sh production
# ssd-pipeline
# 0 10,22 * * * ~/code/scripts/cron_run.sh ~/code/scripts/ssd_pipeline.sh
# exo dev database pipeline
# 0 * * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_exo_dev.sh
# exo production database pipeline
# 0 */4 * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_exo.sh
# spice, animdata, and dynamo pipeline
0 1,13 * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_spice.sh
# tle local pipeline
15 0 * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_local_tles.sh
# tle pipeline
30 */6 * * * ~/code/scripts/cron_run.sh ~/code/scripts/update_tles.sh
# DSN Now Map Generator
*/5 * * * * ~/code/scripts/cron_run.sh ~/code/scripts/dsn_now_map_gen.sh
# DSN Schedule Pipeline
0 */6 * * * ~/code/scripts/cron_run.sh ~/code/scripts/dsn_schedule_pipeline.sh
# DSN XML Pipeline
# 0 6 * * * ~/code/scripts/cron_run.sh ~/code/scripts/dsn_xml_pipeline.sh bg
# EotSS Kiosk MSL Highlight
# 42 0 * * * ~/code/scripts/cron_run.sh ~/code/scripts/msl_ground_map.sh
# 43 0 * * * ~/code/scripts/cron_run.sh ~/code/scripts/msl_photo.sh
# Rotate AWS Credentials, if needed.
# 0 23 */3 * * ~/code/scripts/cron_run.sh ~/code/scripts/rotate_aws_credentials.sh

